<div class="canvas" (mousemove)="onCanvasMouseMove($event)" (mouseup)="onCanvasMouseUp($event)">
  @for (n of nodes; track n.id) {
    <div class="node" [style.left.px]="n.x" [style.top.px]="n.y"
         (mousedown)="startNodeDrag($event,n)">
      <div class="node-header">{{n.name}}</div>
      <div class="node-body">Prompt: {{n.prompt}}</div>
      <div class="node-body">System: {{n.systemPrompt}}</div>
      <div class="node-footer">
        <span class="drag-handle" (mousedown)="$event.stopPropagation(); startEdgeDrag($event, n, 'regular')">🔗</span>
        <span class="drag-handle" (mousedown)="$event.stopPropagation(); startEdgeDrag($event, n, 'conditional')">⚡</span>
        <button class="button" (click)="remove(n,$event)">🗑️</button>
      </div>
    </div>
  }


  <svg class="edges">
    @for (e of edges; track e.from+e.to) {
<!--      <line class="edge" [attr.x1]="getNode(e.from).x" [attr.y1]="getNode(e.from).y"-->
<!--            [attr.x2]="getNode(e.to).x" [attr.y2]="getNode(e.to).y"-->
<!--            [attr.stroke]="e.type==='conditional' ? '#f59e0b' : 'lightgray'"-->
<!--            [attr.opacity]="0.2"-->
<!--            stroke-width="2" marker-end="url(#arrow)" />-->
      <path
        [attr.d]="getPath(e)"
        [attr.stroke]="e.type === 'regular' ? 'lightgray' : '#f59e0b'"
        stroke-width="2"
        fill="none"
        marker-end="url(#arrow)"/>
    }
    @if (dragLine) {
      <path
        [attr.d]="getPreviewPath()"
        [attr.stroke]="'#6b7280'"
        stroke-width="2"
        fill="none"
        marker-end="url(#arrow)"
        stroke-dasharray="4"/>
<!--      <line [attr.x1]="dragLine.x1" [attr.y1]="dragLine.y1" [attr.x2]="dragLine.x2" [attr.y2]="dragLine.y2" stroke="#6b7280" stroke-width="2" stroke-dasharray="4" />-->
    }
    <defs>
        <marker id="arrow"
                viewBox="0 0 10 10"
                refX="10"
                refY="5"
                markerWidth="6"
                markerHeight="6"
                orient="auto">
          <path d="M 0 0 L 10 5 L 0 10 z" fill="lightgray" />
        </marker>
    </defs>
  </svg>
</div>
