.canvas {
  position: relative;
  width: 700px;
  height: 500px;
  border: 2px solid #222;
  border-radius: 12px;
  background: #444;
  overflow: hidden;
  color: lightgray;
}

.node {
  position: absolute;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
  background: #666;
  font-family: Arial, sans-serif;
  cursor: grab;
  z-index: 20;
}

.node-header {
  background: #424242;
  color: lightgray;
  padding: 4px 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  text-align: center
}

.node-body {
  padding: 8px;
  font-size: 14px;
  color: lightgray;
}

.node-footer {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  background: #666;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.drag-handle {
  cursor: grab;
  margin-right: 4px;
}

.edges {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none
}

.button {
  background-color: #666;
  border: none;
}
