.palette {
  border: 2px solid #222;
  border-radius: 12px;
  padding: 8px;
  width: 200px;
  background-color: #444;
  color: lightgray;
}

input, textarea, select, button {
  width: 100%;
  margin-bottom: 4px;
  background-color: #444;
  color: lightgray;
}

textarea {
  height: 60px;
}
